
.container {
    height: 100vh; /* Set the container height to fill the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .traffic-container {
    height: 350px;
    width: 140px;
    background-color: black;
    border-radius: 40px;
    padding: 20px;
    margin-top: 200px;
  }

.traffic-light {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    opacity: 35%;
}

.red {background: red;}

.yellow {background: yellow;}

.green {background: green;}

.active-traffic-light {
    opacity: 100%;
}


  